5[[:space:]]-[[:space:]]Sequence[[:space:]]Models[[:space:]]and[[:space:]]RNNs/[W2][[:space:]]4[[:space:]]-[[:space:]]Numpy[[:space:]]Word[[:space:]]Embeddings[[:space:]](Vector[[:space:]]Representation)/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
